.main-container {
  background-color: rgb(243, 204, 249);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
