.main-container {
  background: rgb(240, 216, 250);
  min-height: 100vh;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(139, 13, 158);
  }
  .todo-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.3);
    h2 {
      color: rgb(48, 17, 52);
      border-bottom: 1px solid rgba(48, 17, 52, 0.1);
      padding-bottom: 5px;
      width: 100%;
    }
    p {
      color: rgb(48, 17, 52);
    }
  }
}
.link {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgba(178, 111, 188, 0.8);
  transition: all 0.3s ease;
  padding: 10px;
  border: 1px solid rgba(73, 18, 81, 0.8);
  border-radius: 5px;
  &:hover {
    background-color: rgba(243, 204, 249, 1);
  }
}
