$primary-color: #64ff00;

:export {
  primaryColor: $primary-color;
  secondaryColor: rgb(220, 225, 245);
  backgroundColor: #7ed7ee;
  textColor: #790b0b;
}

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
